{% extends "base.html" %}
{% comment %}
This template assumes you have a 'base.html' file that can be extended.
{% endcomment %}
{% load phpbb %}
{% load i18n %}
{% block sitetitle %}
{{ sitename }}
{% endblock %}
{% block subtitle %}
{{ site_desc }}
{% endblock %}

{% block sidebar %}
      {% if last_forum_posts %}
      <h3>{% trans "Who is online" %}</h3>
      <ul class="comments">
      {% for post in last_forum_posts %}
      <li id="post-{{ post.post_id }}">
        <p><a href="{{ post.get_external_url }}" title="{{ post.topic.get_title }}" class="comment_title">{{ post.poster.get_username }}</a>:
        {{ post.forumposttext.get_post_text|bbcode|removetags:"br"|truncatewords:"19" }}
        <a href="{{ post.get_external_url }}" title="{{ post.topic.get_title }}">&#187;</a></p>
      </li>
      {% endfor %}
      </ul>
      {% endif %}

{% endblock %}
