{% extends "phpbb/index.html" %}
{% load i18n %}
{% load phpbb %}

{% block content %}
<strong>
  {% trans "Forum" %}
  {% trans "Atopic Dermatitis" %}
  {% trans "Main Page" %}
</strong>

<p>Przeglądasz w tej chwili <em>archiwum</em> naszego forum.
Nie można tutaj pisać nowych postów.
Jeżeli chcesz pisać, zapraszamy
<a href="http://www.atopowe-zapalenie.pl/forum/">tutaj</a>.</p>
<p><a href="/forum/{% trans "unanswered" %}/"><strong>{% trans "Unanswered topics" %}</strong></a></p>

<ul class="forum_list">
  {% for object in object_list %}
  <li>
  <span class="forum_name">{{ object }}</span>
  <ul>
  {% for forum in object.child.all %}
  <span class="forum_name">
    <a href="{{ forum.get_absolute_url }}">{{ forum }}</a>
  </span>
  <br />
  <span class="forum_description">{{ forum.forum_desc }}</span><br/>
  {% endfor %}
  </ul>
  </li>
  {% endfor %}
</ul>
{% endblock %}
